<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{20} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- If you change the root log level to debug, you can keep this on info so you don't get full dumps of all HTTP communication -->
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="info" />

    <logger name="org.avalancs.docker" level="debug" />

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>